.hollywood-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: radial-gradient(circle at center, rgb(189, 195, 199) 0.00%,rgb(44, 62, 80) 100.00%);
}
.hollywood-image {
  width: 432px;
  height: 603px;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 2px;
}
.hollywood-text01 {
  color: #ffffff;
  right: 125px;
  bottom: 225px;
  position: absolute;
  font-size: 25px;
  align-self: flex-end;
  font-weight: bold;
}
.hollywood-navlink {
  top: var(--dl-space-space-threeunits);
  left: var(--dl-space-space-threeunits);
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.hollywood-ul {
  width: 445px;
  height: 269px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
.hollywood-li {
  font-size: 30px;
}
.hollywood-text04 {
  font-size: 30px;
}
.hollywood-li01 {
  list-style-type: disc;
}
.hollywood-li02 {
  font-size: 30px;
}
.hollywood-text10 {
  font-size: 30px;
}
.hollywood-li03 {
  list-style-type: disc;
  list-style-position: outside;
}
.hollywood-li04 {
  font-size: 30px;
}
.hollywood-text12 {
  font-size: 30px;
}
.hollywood-li05 {
  list-style-type: disc;
}
.hollywood-li06 {
  font-size: 30px;
}
.hollywood-text14 {
  font-size: 30px;
}
.hollywood-li07 {
  list-style-type: disc;
}
.hollywood-li08 {
  font-size: 30px;
}
.hollywood-text16 {
  font-size: 30px;
}
.hollywood-li09 {
  list-style-type: disc;
}
.hollywood-iframe {
  right: var(--dl-space-space-oneandhalfunits);
  width: 320px;
  bottom: var(--dl-space-space-oneandhalfunits);
  height: 200px;
  position: absolute;
}
